l10n_ve_isrl/xsd/set_withholdings_isrl_report.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="t_RelacionRetencionesISLR">
		<xs:complexType name="t_DetalleRetencion">
			<xs:sequence>
				<xs:element name="RifRetenido" />
				<xs:element name="NumeroFactura" />
				<xs:element name="NumeroControl" />
				<xs:element name="FechaOperacion" />
				<xs:element name="CodigoConcepto" />
				<xs:element name="MontoOperacion" />
				<xs:element name="PorcentajeRetencion" />
			</xs:sequence>
		</xs:complexType>
	</xs:complexType>
	<!-- Schema -->
	<xs:element name="RelacionRetencionesISLR" type="t_RelacionRetencionesISLR"/>
</xs:schema>
